$white: #fff !default;
$off-white: #f9f9f9 !default;
$black: #282c34 !default;
$green: #00cec9 !default;
$blue: #0984e3 !default;
$orange: #e17055 !default;
$purple: #6c5ce7 !default;
$grey: #919191 !default;

$header-color: $black;
$primary-color: $blue;

$delete-icon: "./images/delete.svg" !default;
$like-icon: "./images/like.svg" !default;
$edit-icon: "./images/edit.svg" !default;


@mixin box-shadow() {
  -webkit-box-shadow: 0px 0px 10px -2px $grey;
  -moz-box-shadow: 0px 0px 10px -2px $grey;
  box-shadow: 0px 0px 10px -2px $grey;
}

@mixin hide-btn-text() {
  overflow: hidden;
  text-indent: -999px;
  line-height: 0;
}

$colors: (
  green: $green,
  blue: $blue,
  orange: $orange
);